@import '~bootstrap/scss/bootstrap';

body {
  background-color: gray;
}

section {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(33, 33, 33);
}

.card {
  background-color: lightgray;
  margin-top: 10px;
  margin-bottom: 40px;
}

.card-body {
}
